.about__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    background-color: $ground;
    // height: 50%;
    // align-items: center;
    // width: 100vw;
    height: 100%;
    .about__text {
        margin-right: 140px;
        width: 100%;
        height: 100px;
        margin-top: 20%;
        color: $font-parraf;
        // margin-top: 13%;
        // padding-left: 150px;
    }
}
