.about__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    background-color: $ground;
    width: 60%;
    .about__text {
        margin-right: 140px;
        line-height: 1.5;
        color: $font-parraf;
    }
    @media screen and (max-width: 992px) and (orientation: landscape) {
    }

    @media (max-width: 768px) and(orientation:landscape) {
        .about__text {
            margin: 20px;
        }
    }

    @media (max-width: 575.98px) {
        .about__content {
            width: 100%;
        }
        .about__text {
            margin: 1%;
            // margin-right: 0px;
        }
    }
    @media (max-width: 575.98px) and(orientation:landscape) {
    }
}
