.curriculum__content {
    margin-left: 50%;
    margin-top: 4%;
    width: 100%;
    background-color: $ground;
    @media screen and (max-width: 768px) {
        margin-top: 30%;
        margin-left: 5%;
    }
    @media screen and (max-width: 768px) and (orientation: landscape) {
        margin-top: 0%;
        margin-left: 50%;
    }
    @media screen and (max-width: 575.98px) and (orientation: landscape) {
        // margin-top: 0%;
    }
    @media screen and (max-width: 575.98px) {
        margin-top: 50%;
        margin-left: 5%;
    }
}
