.link__navbar {
    background-color: $navbar-link;
    padding: 1% 0%;
    width: 100vw;
    height: 80px;
    .link__to {
        justify-content: left;
        flex-direction: column;
        display: flex;
        display: inline-block;
        margin-left: 10%;
        // margin-right: 10%;
        // margin-top: 1%;
        // margin-bottom: 1%;
        p {
            color: $font-link-navbar;
            font-size: 20px;
            font-weight: 300;
        }
        strong {
            color: $font-link-navbar;
            font-size: 20px;
            font-weight: 800;
        }
        @media screen and (max-width: 768px) {
            margin-left: 10%;
            p {
                font-size: 16px;
            }
        }
    }
}
