.link__navbar {
    background-color: $navbar-link;
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 100%;
    .link__to {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 1%;
        margin-bottom: 1%;
        p {
            color: $font-link-navbar;
            font-size: 20px;
            font-weight: 300;
        }
        strong {
            color: $font-link-navbar;
            font-size: 20px;
            font-weight: 800;
        }
        @media screen and (max-width: 768px) {
            margin-left: 10%;
        }
    }
}
