.menu__list {
    margin-bottom: 5%;
    width: 100%;

    @media screen and(max-width:768px) {
        width: 100%;
    }
}

.menu__ul {
    margin-top: max(50px, 5%);
}

.menu__sublist {
    cursor: pointer;
    margin-bottom: 2%;
}

.menu__text-skills {
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
}

.menu__Skills-list {
    margin-right: 5%;
    margin-bottom: 5%;
    padding-top: 2%;
}
.menu__text-experience {
    margin-top: 2%;
    margin-left: 5%;
    width: 60%;
}

h3 {
    &:hover {
        transition: color 0.5s ease;
        color: lighten($color: $navbar-link, $amount: 20);
    }
}
