.menu__list {
    margin-bottom: 5%;
    width: 70%;
}

.menu__sublist {
    cursor: pointer;
    margin-bottom: 2%;
}

.menu__text-skills {
    margin-left: 5%;
    // columns: 3;
    // padding-top: 5%;
    // padding-bottom: 5%;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
}

.menu__Skills-list {
    margin-right: 5%;
    // padding-bottom: 25%;
    margin-bottom: 5%;
    padding-top: 2%;
    // width: 20px;
    // height: 20px;
}
.menu__text-experience {
    margin-top: 2%;
    margin-left: 5%;
    width: 60%;
}

h3 {
    &:hover {
        transition: color 0.5s ease;
        color: lighten($color: $navbar-link, $amount: 20);
    }
}
