.nav__links {
    display: flex;
    margin-left: 14%;
    margin-top: 10%;
    position: relative;
    width: 40%;
    height: 500px;
    @media screen and (max-width: 992px) and (orientation: landscape) {
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
    }
    @media (max-width: 768px) and(orientation:landscape) {
    }

    @media (max-width: 575.98px) {
        height: 200px;
        // margin-left: auto;
        // margin-right: auto;
        width: 100%;
    }
    @media (max-width: 575.98px) and(orientation:landscape) {
    }

    .nav__circle-div-cu,
    .nav__circle-div-co,
    .nav__circle-div-pr {
        align-items: center;
        background: $circle-cu;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        width: 8rem;
        height: 8rem;
        position: absolute;
        padding: 3%;
        text-align: center;
        margin: 0px auto;
        font-weight: 500;
        color: $font-link-navbar;

        @media screen and(max-width:768px) {
            font-weight: 300;
            font-size: 12px;
            width: 5rem;
            height: 5rem;
        }
    }
    .nav__circle-div-cu {
        background: $circle-cu;
        color: $font-link-navbar;
        margin-left: 7.2rem;
        z-index: 1;
        transition: background-color 0.4s ease;
        &:hover {
            background-color: lighten($color: $circle-cu, $amount: 25);
        }
        @media screen and(max-width:768px) {
            margin-left: 5.6rem;
        }
    }

    .nav__circle-div-pr {
        z-index: 3;
        background: $circle-pr;
        color: $font-link-navbar;
        transition: background-color 0.4s ease;
        &:hover {
            background-color: lighten($color: $circle-pr, $amount: 25);
        }
        @media screen and(max-width:768px) {
            margin-left: 1rem;
        }
    }

    .nav__circle-div-co {
        background: $circle-co;
        color: $font-parraf;
        margin-top: 5rem;
        margin-left: 3.5rem;
        z-index: 2;
        transition: background-color 0.4s ease;
        &:hover {
            background-color: darken($color: $circle-co, $amount: 25);
        }
        @media screen and(max-width:768px) {
            margin-left: 3rem;
            margin-top: 3rem;
        }
    }
}
