.project__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 40%;
    margin-left: 45%;
    margin-top: 0%;
    margin-right: 20%;

    @media screen and (max-width: 768px) {
        width: 100%;
        margin-top: 0%;
    }
    @media screen and (max-width: 768px) and (orientation: landscape) {
        width: 30%;
        height: 20%;
    }

    @media (max-width: 575.98px) and(orientation:landscape) {
    }

    @media (max-width: 575.98px) {
        margin-top: 50%;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}
.project__reducer {
    width: 175px;
    a {
        color: $font-parraf;
    }
}
.project__border {
    overflow: hidden;
    width: 175px;
    height: 150px;
    border: 5px solid #000;
    border-radius: 10px;
    margin-bottom: 6%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
        object-fit: contain;
        height: auto;
        width: 100%;
        margin-bottom: 5%;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    .project__imb-bread {
        width: 25%;
    }
    p {
        text-align: center;
        margin: 2% 0;
    }
    .project__img {
        vertical-align: middle;
        text-align: center;
        line-height: 40px;
        background-color: $background-img;
        border-radius: 6px;
        color: $text-white;
        width: 168px;
        height: 141px;

        position: absolute;
        // z-index: 2;
        opacity: 0;
        &:hover {
            // transition-duration: 0.3s;
            // animation-iteration-count: infinite;
            transform-origin: bottom;
            animation: identifier 0.3s ease both;
            // animation-iteration-count: infinite;
            // opacity: 0.8;
        }
        @keyframes identifier {
            from {
                // transform: translate(0px, 100px);
                opacity: 0;
                transform: scaleY(0%);
            }
            to {
                // transform: translate(0px, 12px);
                opacity: 0.8;
                transform: scaleY(100%);
            }
        }

        @media screen and (max-width: 768px) {
            margin-left: auto;
            margin-right: auto;
            width: 60%;
            height: 50%;
        }
        @media screen and (maaxwidth: 768px) and (orientation: landscape) {
            width: 50%;
            height: 30%;
        }
    }
}
