//color
$navbar-link: #735e4c;
$ground: #f2f2f2;
$circle-cu: #595959;
$circle-co: #d9d9d9;
$circle-pr: #0d0b0c;
$font-link-navbar: #f2f2f2;
$font-parraf: #0d0d0d;
$default-font: "montserrat", sans-serif;
$text-email: #404040;
$background-img: #595959;
$text-white: #f2f2f2;

.animate__animated .animate__fadeIn {
    --animate-duration: 1.5s;
}
.main {
    width: 100%;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    min-height: calc(100vh - 80px - 50px);
    // justify-content: space-around;
    @media screen and (max-width: 992px) and (orientation: landscape) {
        align-items: flex-start;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
    }
    @media (max-width: 768px) and(orientation:landscape) {
        align-items: flex-start;
    }

    @media (max-width: 575.98px) {
        display: flex;
        flex-direction: column;
        // justify-conten;
        align-items: center;
        width: 100%;
    }
    @media (max-width: 575.98px) and(orientation:landscape) {
    }
}
