//color
$navbar-link: #735e4c;
$ground: #f2f2f2;
$circle-cu: #595959;
$circle-co: #d9d9d9;
$circle-pr: #0d0b0c;
$font-link-navbar: #f2f2f2;
$font-parraf: #0d0d0d;
$default-font: "montserrat", sans-serif;
$text-email: #404040;
